@model ProfessorLayton.Models.Music

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier les données d'une musique</h2>
<br>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Titre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <br>
                <input type="submit" value="Appliquer les changements" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}