@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur PLS</h1>
    <h3><i>PLS : Professor Laytons's Stories</i></h3>
    <br>
    <h6>Vous trouverez ici tout ce que vous avez toujours voulu savoir sur le roi des énigmes : le Professeur Layton </h6>
    <br>
    <img src="https://play-lh.googleusercontent.com/tfBsUAKUwLnmRFw0wfSYM-RzpkizXxCupGoaIZQwdTe1KzZeQK0r-COohiIQchdnrKZg" alt="Luke et le Professeur Layton regardant le ciel avec étonnement" height=auto width=300>
    <br>
    <br>
    <p>&#128218; &#10145; Vous pouvez cliquer <a href="https://fr.wikipedia.org/wiki/Professeur_Layton">ici</a> pour avoir plus de contexte sur l'univers des jeux &copy;Professeur Layton.</p>
    <br>
    <p>&#127916; &#10145; Vous pouvez aussi cliquer <a href="https://www.youtube.com/watch?v=eA0go9Kh00k">ici</a> pour regarder un SUPER film sur l'une des enquête du Professeur.</p>
</div>
